.task {
    display: flex;
    border: 1px solid grey;
    border-radius: 5px;
    align-items: center;
    margin: 5px 0;
    padding: 5px;
}
.task-text {
    flex-grow: 10;
    text-align: left;
    padding: 0 10px;
}