.add-task-form {
    display: flex;
    justify-content: stretch;
    font-size: 20px;
}
.add-input {
    width: 70%;
    padding: 10px;
    font-size: 20px;

}
.add-button {
    flex-grow: 10;
    font-size: 20px;

}